
.note__visualization--div{
    margin-top: 0.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    min-width: fit-content;
}

.note__title--h3{
    max-width: 10em;
    font-weight: bolder;
    margin-bottom: 0.5em;
}

.note__title--p{
    max-width: 10em;
    text-align: left;
}