
.title__container--div{
    margin: 0.5em;
}

.pagination__container--div{
    margin: 0.5em;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.notes_activation--div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    margin: 0.5em;
}

.image__container--div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    flex-grow: 1;
}


.smart__image--img{
    width: 95%;
    margin: 0.5em;
    padding: 0.2em;
    border: 1px solid blue;
}




