
.images__pool--div{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.pool__actions--div{
    
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap: wrap;
    
    padding: 0.5em;
    margin-top: 1em;
}