
.table__buttons--div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.quick__filter--div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagination__select--div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagination__select--select{
    margin-left: 1em;
    margin-right: 1em;
}

.sticky__thead{
    position: sticky;
    top: 0;
}

.head__tr{
    background-color: lightgrey;
    border: 1px solid grey;
}

.head__th{
    border: 1px solid grey;
    font-weight: bolder;
}

.head__th:hover{
    cursor: pointer;
    background-color: white;
}

.table__tr{
    border: 1px solid grey;
}

.table__tr:hover{
    background-color: lightpink;
}

.table__td{
    border: 1px solid grey;
}