
.creation__note--div{

    position: absolute;
    z-index: 10;

    background-color: white;
    border: 2px solid grey;
    border-radius: 5px;

    padding: 0.5em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    
}

.note__text--area{
    margin-top: 0.25em;
}

.note__actions--div{
    margin-top: 0.25em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}