
.filter__container--div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    border-left: 2px solid lightgray;

    width: 15em;
}

.image__filter--input{
    margin: 1em;

    border: 2px solid lightgray;
    border-radius: 3px;

}

.image__filter--input:focus{
    color:black;
    background-color: lightblue;

}

.image__notes--div{
    margin: 1em;
}