
.image__card--div{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 15em;
    border: 2px solid lightgrey;
    border-radius: 5px;

    margin: 0.5em;
    padding: 0.25em;
}

.image__card--a{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;

    padding: 0.3em;
}
.image__card--a:hover{
    background-color: lightgrey;
}

.image__card--img{
    max-width: 100%;
}

.image__actions--div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 100%;
}

.image__card--del{
    border: 1px solid red;
    border-radius: 3px;
}
.image__card--del:hover{
    background-color: red;
    
}

.image__card--download{
    border: 1px solid green;
    border-radius: 3px;
    margin-right: 0.5em;
}
.image__card--download:hover{
    background-color: green;
    
}


.image__title--p{
    margin: 3px;
    text-overflow: ellipsis;
    overflow: hidden;

    max-width: 12em;
}

.image__download--img{
    width: 1em;
}