
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Montserrat&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 100%;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
h1{
  font-size: 3em;
}
h2{
  font-size: 2em;
}